.container {
  height: 250px;
  width: 150px;
  float: left;
}

.button {
  margin-top: 10px;
}

.productName {
  font-size: 15px;
  margin: 0px;
}

.productImg {
  height: 140px;
  width: 150px;
}

.priceSize {
  font-size: 20px;
}
